#container{
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(10,10%);
    height: 1000px;
    width: 700px;
}

.header{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background-color: #54ADEE;
    width: 700px;
}

.main-profile{
    grid-column: 1 / 5;
    grid-row: 2 / 4;
    /* background-color: red; */
    width: 700px;
    height: 500px;
}

.numbers{
    grid-column: 1 / 5;
    grid-row: 7 / 7;
    width: 700px;
}
.setting{
    /* background-color: gray; */
    grid-column: 1 / 5;
    grid-row: 8 / 8;
}

.tweet{
    grid-column: 1 / 5;
    grid-row: 9 / 9;
    width: 700px;
}

.footer{
    grid-column: 1 / 5;
    grid-row: 11 / 12;
    width: 700px;
}

.header{
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(2,50%)
}

.wifi{
    grid-column: 1 / 2;
    
}

.time{
    grid-column: 3 / 4;
}

.battery{
    grid-column: 5 / 5;
    text-align: end;
}

.header-profile{
    grid-column: 3 / 4;
}

.magnifying-glass{
    grid-column: 5 / 5;
    text-align: end;
}

.numbers{
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(2,50%);
    text-align: center;
    border: #B4C1CA solid 2px;
    border-top: none;

}

.setting{
    display: grid;
    grid-template-columns: repeat(5,20%); 
}

.follow-button{
    grid-column: 5 /5;
    text-align: end;
}

.follow-button{
    text-align: end;
}

.tweet{
    text-align: center;
}

.footer{
    display: grid;
    grid-template-columns: repeat(4,25%);
    background-color: #000000;

}

a{
    color: #B4C1CA;
}